<%- include ('partials/header.ejs') %>
<div class="blog-container">
    <img class="blog-post-img" src="/images/blog-images/<%= b_img %> " alt="">
    <span class="blog-date"><i><%= p_date %> </i></span>
    <h1 class="header-blog"><%= b_header %> </h1>
    <p class="post-body">
        <%= b_body %>
    </p>
</div></div>
<%- include ('partials/footer.ejs') %> 